# .NET Core
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/
*.userprefs
*.DS_Store
appsettings.Development.json

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/android/app/src/main/java/io/flutter/plugins/
*.jks
*.keystore

# macOS
.DS_Store

# Windows
Thumbs.db
backend/src/.env
backend/src/Government_Service_Navigator.Backend.http
backend/src/server_log_err.txt
backend/src/server_log.txt
backend/src/Properties/launchSettings.json
tui-runner/node_modules/.bin/blessed
tui-runner/node_modules/.bin/blessed.cmd
tui-runner/node_modules/.bin/blessed.ps1
tui-runner/node_modules/blessed/.npmignore
tui-runner/node_modules/blessed/CHANGELOG.md
tui-runner/node_modules/blessed/index.js
tui-runner/node_modules/blessed/LICENSE
tui-runner/node_modules/blessed/package.json
tui-runner/node_modules/blessed/README.md
tui-runner/node_modules/blessed/browser/Makefile
tui-runner/node_modules/blessed/browser/transform.js
tui-runner/node_modules/blessed/example/blessed-telnet.js
tui-runner/node_modules/blessed/example/index.js
tui-runner/node_modules/blessed/example/multiplex.js
tui-runner/node_modules/blessed/example/ping
tui-runner/node_modules/blessed/example/simple-form.js
tui-runner/node_modules/blessed/example/time.js
tui-runner/node_modules/blessed/example/widget.js
tui-runner/node_modules/blessed/example/ansi-viewer/ansi-art.list
tui-runner/node_modules/blessed/example/ansi-viewer/index.js
tui-runner/node_modules/blessed/example/ansi-viewer/LICENSE
tui-runner/node_modules/blessed/example/ansi-viewer/package.json
tui-runner/node_modules/blessed/example/ansi-viewer/README.md
tui-runner/node_modules/blessed/example/ansi-viewer/singlebyte.js
tui-runner/node_modules/blessed/lib/alias.js
tui-runner/node_modules/blessed/lib/blessed.js
tui-runner/node_modules/blessed/lib/colors.js
tui-runner/node_modules/blessed/lib/events.js
tui-runner/node_modules/blessed/lib/gpmclient.js
tui-runner/node_modules/blessed/lib/helpers.js
tui-runner/node_modules/blessed/lib/keys.js
tui-runner/node_modules/blessed/lib/program.js
tui-runner/node_modules/blessed/lib/tput.js
tui-runner/node_modules/blessed/lib/unicode.js
tui-runner/node_modules/blessed/lib/widget.js
tui-runner/node_modules/blessed/lib/widgets/ansiimage.js
tui-runner/node_modules/blessed/lib/widgets/bigtext.js
tui-runner/node_modules/blessed/lib/widgets/box.js
tui-runner/node_modules/blessed/lib/widgets/button.js
tui-runner/node_modules/blessed/lib/widgets/checkbox.js
tui-runner/node_modules/blessed/lib/widgets/element.js
tui-runner/node_modules/blessed/lib/widgets/filemanager.js
tui-runner/node_modules/blessed/lib/widgets/form.js
tui-runner/node_modules/blessed/lib/widgets/image.js
tui-runner/node_modules/blessed/lib/widgets/input.js
tui-runner/node_modules/blessed/lib/widgets/layout.js
tui-runner/node_modules/blessed/lib/widgets/line.js
tui-runner/node_modules/blessed/lib/widgets/list.js
tui-runner/node_modules/blessed/lib/widgets/listbar.js
tui-runner/node_modules/blessed/lib/widgets/listtable.js
tui-runner/node_modules/blessed/lib/widgets/loading.js
tui-runner/node_modules/blessed/lib/widgets/log.js
tui-runner/node_modules/blessed/lib/widgets/message.js
tui-runner/node_modules/blessed/lib/widgets/node.js
tui-runner/node_modules/blessed/lib/widgets/overlayimage.js
tui-runner/node_modules/blessed/lib/widgets/progressbar.js
tui-runner/node_modules/blessed/lib/widgets/prompt.js
tui-runner/node_modules/blessed/lib/widgets/question.js
tui-runner/node_modules/blessed/lib/widgets/radiobutton.js
tui-runner/node_modules/blessed/lib/widgets/radioset.js
tui-runner/node_modules/blessed/lib/widgets/screen.js
tui-runner/node_modules/blessed/lib/widgets/scrollablebox.js
tui-runner/node_modules/blessed/lib/widgets/scrollabletext.js
tui-runner/node_modules/blessed/lib/widgets/table.js
tui-runner/node_modules/blessed/lib/widgets/terminal.js
tui-runner/node_modules/blessed/lib/widgets/text.js
tui-runner/node_modules/blessed/lib/widgets/textarea.js
tui-runner/node_modules/blessed/lib/widgets/textbox.js
tui-runner/node_modules/blessed/lib/widgets/video.js
tui-runner/node_modules/blessed/usr/linux
tui-runner/node_modules/blessed/usr/windows-ansi
tui-runner/node_modules/blessed/usr/xterm
tui-runner/node_modules/blessed/usr/xterm-256color
tui-runner/node_modules/blessed/usr/xterm.termcap
tui-runner/node_modules/blessed/usr/xterm.terminfo
tui-runner/node_modules/blessed/usr/fonts/AUTHORS
tui-runner/node_modules/blessed/usr/fonts/LICENSE
tui-runner/node_modules/blessed/usr/fonts/README
tui-runner/node_modules/blessed/usr/fonts/ter-u14b.json
tui-runner/node_modules/blessed/usr/fonts/ter-u14n.json
tui-runner/node_modules/blessed/vendor/tng.js
