backend/src/GSN.Api/.env
backend/src/GSN.Api/appsettings.json
backend/src/GSN.Api/bin/Debug/net10.0/GSN.Api.dll
backend/src/GSN.Api/bin/Debug/net10.0/GSN.Api.exe
backend/src/GSN.Api/bin/Debug/net10.0/GSN.Api.pdb
backend/src/GSN.Api/bin/Debug/net10.0/GSN.Application.dll
backend/src/GSN.Api/bin/Debug/net10.0/GSN.Application.pdb
backend/src/GSN.Api/bin/Debug/net10.0/GSN.Domain.dll
backend/src/GSN.Api/bin/Debug/net10.0/GSN.Domain.pdb
backend/src/GSN.Api/bin/Debug/net10.0/GSN.Infrastructure.dll
backend/src/GSN.Api/bin/Debug/net10.0/GSN.Infrastructure.pdb
backend/src/GSN.Api/obj/Debug/net10.0/apphost.exe
backend/src/GSN.Api/obj/Debug/net10.0/GSN.Api.AssemblyInfo.cs
backend/src/GSN.Api/obj/Debug/net10.0/GSN.Api.AssemblyInfoInputs.cache
backend/src/GSN.Api/obj/Debug/net10.0/GSN.Api.csproj.AssemblyReference.cache
backend/src/GSN.Api/obj/Debug/net10.0/GSN.Api.dll
backend/src/GSN.Api/obj/Debug/net10.0/GSN.Api.pdb
backend/src/GSN.Api/obj/Debug/net10.0/GSN.Api.sourcelink.json
backend/src/GSN.Api/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
backend/src/GSN.Api/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
backend/src/GSN.Api/obj/Debug/net10.0/ref/GSN.Api.dll
backend/src/GSN.Api/obj/Debug/net10.0/refint/GSN.Api.dll
backend/src/GSN.Application/bin/Debug/net10.0/GSN.Application.dll
backend/src/GSN.Application/bin/Debug/net10.0/GSN.Application.pdb
backend/src/GSN.Application/bin/Debug/net10.0/GSN.Domain.dll
backend/src/GSN.Application/bin/Debug/net10.0/GSN.Domain.pdb
backend/src/GSN.Application/bin/Debug/net10.0/GSN.Infrastructure.dll
backend/src/GSN.Application/bin/Debug/net10.0/GSN.Infrastructure.pdb
backend/src/GSN.Application/obj/Debug/net10.0/GSN.Application.AssemblyInfo.cs
backend/src/GSN.Application/obj/Debug/net10.0/GSN.Application.AssemblyInfoInputs.cache
backend/src/GSN.Application/obj/Debug/net10.0/GSN.Application.csproj.AssemblyReference.cache
backend/src/GSN.Application/obj/Debug/net10.0/GSN.Application.dll
backend/src/GSN.Application/obj/Debug/net10.0/GSN.Application.pdb
backend/src/GSN.Application/obj/Debug/net10.0/GSN.Application.sourcelink.json
backend/src/GSN.Application/obj/Debug/net10.0/ref/GSN.Application.dll
backend/src/GSN.Application/obj/Debug/net10.0/refint/GSN.Application.dll
backend/src/GSN.Domain/bin/Debug/net10.0/GSN.Domain.dll
backend/src/GSN.Domain/bin/Debug/net10.0/GSN.Domain.pdb
backend/src/GSN.Domain/obj/Debug/net10.0/GSN.Domain.AssemblyInfo.cs
backend/src/GSN.Domain/obj/Debug/net10.0/GSN.Domain.AssemblyInfoInputs.cache
backend/src/GSN.Domain/obj/Debug/net10.0/GSN.Domain.dll
backend/src/GSN.Domain/obj/Debug/net10.0/GSN.Domain.pdb
backend/src/GSN.Domain/obj/Debug/net10.0/GSN.Domain.sourcelink.json
backend/src/GSN.Domain/obj/Debug/net10.0/ref/GSN.Domain.dll
backend/src/GSN.Domain/obj/Debug/net10.0/refint/GSN.Domain.dll
backend/src/GSN.Infrastructure/bin/Debug/net10.0/GSN.Domain.dll
backend/src/GSN.Infrastructure/bin/Debug/net10.0/GSN.Domain.pdb
backend/src/GSN.Infrastructure/bin/Debug/net10.0/GSN.Infrastructure.dll
backend/src/GSN.Infrastructure/bin/Debug/net10.0/GSN.Infrastructure.pdb
backend/src/GSN.Infrastructure/obj/Debug/net10.0/GSN.Infrastructure.AssemblyInfo.cs
backend/src/GSN.Infrastructure/obj/Debug/net10.0/GSN.Infrastructure.AssemblyInfoInputs.cache
backend/src/GSN.Infrastructure/obj/Debug/net10.0/GSN.Infrastructure.csproj.AssemblyReference.cache
backend/src/GSN.Infrastructure/obj/Debug/net10.0/GSN.Infrastructure.dll
backend/src/GSN.Infrastructure/obj/Debug/net10.0/GSN.Infrastructure.pdb
backend/src/GSN.Infrastructure/obj/Debug/net10.0/GSN.Infrastructure.sourcelink.json
backend/src/GSN.Infrastructure/obj/Debug/net10.0/ref/GSN.Infrastructure.dll
backend/src/GSN.Infrastructure/obj/Debug/net10.0/refint/GSN.Infrastructure.dll
mobile/pubspec.lock
