# .NET Core
[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/
*.userprefs
*.DS_Store
appsettings.Development.json

# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/android/app/src/main/java/io/flutter/plugins/
*.jks
*.keystore

# macOS
.DS_Store

# Windows
Thumbs.db
backend/src/.env
backend/src/Government_Service_Navigator.Backend.http
backend/src/server_log_err.txt
backend/src/server_log.txt
backend/src/Properties/launchSettings.json
