# PostgreSQL connection
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

# JWT settings
JWT_KEY=
JWT_ISSUER=GovServiceNavigator
JWT_AUDIENCE=GovServiceNavigatorClients
JWT_EXPIRY_HOURS=24

# ASP.NET Core environment
ASPNETCORE_ENVIRONMENT=Development

# DataBase Migration PG local to neonDB
DATABASE_URL=<your_neon_database_url>

# STRIPE
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxx 

# SMTP settings for email notifications
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=